.headerPag {
    width: 100%;
    height: 40vh;
    position: relative;
    //     width: 100%;
    //     height: 300px;
    //     top: 0;
    background: url(../../../img/headers/bg-asad.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    // clip-path: circle(100vh at 50% -50vh);
    border-radius: 0 0 50% 50%;

    &::before {

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: -1;


    }

    .header-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* z-index: 2; */


        h1 {
            font-family: $font-primera;
            font-size: 115px;
            color: $color-tercero;
            letter-spacing: 1px;
            text-align: center;
            font-weight: 200;
            text-transform: uppercase;
        }


    }
}



.scAsados {
    @include dFlex(center, center, column nowrap);
    width: 100%;

    &__sec1 {
        @include dFlex(center, center, row wrap);
        width: 100%;



        &__cntDatos {
            // background-color: aqua;
            @include dFlex(center, center, column nowrap);
            width: 50%;
            margin: 0 10px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // place-items: center center;
                // place-content: center;
                bottom: 0;
                // left: 0;
                width: 350px;
                height: 420px;
                background: url(../../../img/asados/campfire.svg);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                opacity: 0.1;
                z-index: -1;
            }


            h3 {
                font-family: $font-segunda;
                font-size: 4vmin;
                color: #000;
                letter-spacing: 1px;
                text-align: center;
                font-weight: 200;
            }

            &__products {
                @include dFlex(center, flex-start, column nowrap);

                h4 {
                    font-family: $font-segunda;
                    font-size: 2.7vmin;
                    color: #000;
                    letter-spacing: 1px;
                    text-align: center;
                    font-weight: 200;
                    margin-top: 15px;
                }

                p {
                    font-family: $font-tercera;
                    font-size: 17px;
                    color: #000;
                    text-align: justify;
                    font-weight: 100;
                    margin: 15px;
                }

            }


        }

        &__cntImages {
            // width: 50%;
            // height: 100%;
            display: grid;
            // grid-template-areas: "img1 ";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
                "item1 ."
                ". item2"
                "item3 .";
            gap: 20px;
            margin: 0 10px;
            // justify-items: center;]

            img {
                width: 140px;
                height: 160px;
                // object-fit: cover;

                &:nth-child(1) {
                    grid-area: item1;
                }

                &:nth-child(2) {
                    grid-area: item2;
                }

                &:nth-child(3) {
                    grid-area: item3;
                }

            }
        }
    }

    &__sec2{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 220px);
        gap: 10px;
        width: 80%;
        margin: 50px 0;

        img{
            width: 100%;
            height: 100%;
        }
    }

}

// .cont__carousel{
//     // height: 550px;

//     span{
//         color: #000;        
//     }
// }