.sect-bseller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .cont-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50%;

        h3 {
            color: $color-primero;
            font-family: $font-tercera;
            font-size: 4vmin;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            margin: 10px;
        }

        p {
            /* font-family: var(--font-tercera); */
            color: $color-segundo;
            // width: 50%;
            font-size: 2vmin;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: center;
            margin: 10px;
        }
    }

    .img-cont {
        // background: brown;
        // width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 170px);
        grid-template-rows: repeat(2, 170px);
        gap: 2px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}