.menu-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .cont-menu-index {
        position: relative;
        background: #0F1854;
        /* border: 1px solid #fff; */
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        /* width: 33%; */
        min-width: 350px;
        height: 480px;
        padding: 10px 20px;
        z-index: -1;

        &:nth-child(1) {
            background: #0F1854;
        }
        
        &:nth-child(2) {
            background: #F2CB05;
        }
        
       &:nth-child(3) {
            background: #EC6809;
        }
        
        &:nth-child(4) {
            background: #8F5B00;
        }
        
        &:nth-child(5) {
            background: #80D25B;
        }

        &:nth-child(5) img,
        &:nth-child(4) img{
            right: -20px;
            width: 380px;
            height: 400px;
        }

        h3 {
            font-family: $font-primera;
            font-size: 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 200;
            color: #FFF;
        }

        p {
            /* font-family: var(--font-tercera); */
            color: #FFF;
            width: 50%;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 1px;
            z-index: 2;
        }

        img {
            position: absolute;
            bottom: 0;
            right: -61px;
            width: 280px;
            height: 400px;
            // z-index: -1;
        }
    
    }
}

